@import "variables.scss";

.cardDeleteButton,
.plusButton,
.minusButton {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: $backgroundWhite;
  max-width: 63.3rem;
  max-height: 21.8rem;
  flex-basis: 63.3rem;
  position: relative;
  padding: 1.8rem;
  border-radius: 3rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.cardDeleteButton {
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  padding: 4px 2px 0;
  transition: outline 0.3s;
  outline: 2px solid transparent;
  border-radius: 0.5rem;
  &:hover {
    outline: 2px solid $outlineHover;
  }
}

.mainContent {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.bottomContent {
  margin-top: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantityBlock {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cardImage {
  width: 14.3rem;
  display: flex;
  justify-content: center;
}

.cardItemImage {
  height: 13rem;
  max-width: 14.3rem;
}

.title {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 20.72px;
}

.oneItemPrice {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  color: $textColor6;
}

.quantity,
.totalPrice {
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.72px;
}

.quantity {
  width: 1.7rem;
  text-align: center;
}
