@import "variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.logo {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.48px;
}

.logo a {
  text-decoration: none;
  color: $textColor1;
}

.icons {
  display: flex;
  gap: 2rem;
}

.cartBox,
.favoriteBox {
  position: relative;
  display: flex;
  align-items: center;
}

.cartImage {
  margin-top: 3px;
}

.showNum {
  display: none;
}

.showNum[data-num] {
  display: block;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  background-color: $backgroundOrange;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: $textColor5;
}
