@import "variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.logo {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 700;
  line-height: 30.48px;
}

.icons {
  display: flex;
  gap: 2rem;
}
