@import "variables.scss";

.cards {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.sectionName {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: $textColor4;
}
