@import "styles/normalize.css";
@import "styles/variables.scss";
@import "fonts/fonts.scss";

:root {
  background-color: $backgroundGray;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: $textColor1;
}
